#loginScenePane, #playersScenePane {
    -fx-background-image: url('../images/publisherMaterial/Display_5.jpg');
    -fx-background-size: 100%;
    -fx-effect: dropshadow(gaussian, white, 127, 1, 0, 0);
}

#savedGamesPane, #endGamePane, #instructionsPane {
    -fx-background-image: url('../images/misc/sfondoParquet.jpg');
    -fx-background-size: 100%;
    -fx-effect: dropshadow(gaussian, white, 127, 1, 0, 0);
}

#connectionPane, #firstPlayerPane, #savedGamesPane, #rankingPane, #selectGame, #resumeGame {
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 18;
    -fx-font-weight: bolder;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0.5, 0, 0);
}

#instructionsPane {
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 14;
    -fx-font-weight: bolder;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0.5, 0, 0);
}

#endMessage, #savedLabel {
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 24;
    -fx-font-weight: bolder;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0.5, 0, 0);
}

#errorArea, #errorDescription {
    -fx-text-fill: red;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0.8, 0, 0);
}